@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-container {
    flex-wrap: wrap;
  }

  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  #profile,
  .section-about-container {
    display: block;
  }
  .arrow {
    display: none;
  }

  section,
  .section-about-container {
    height: fit-content;
  }

  section {
    margin: 0%;
  }

  .section-pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-container {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 53vh;
  }

  #profile {
    height: 60vh;
  }

  article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-container,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
    padding: 0 0.5rem;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    gap: 2rem;
    text-align: center;
  }

  .section-pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .section-text-p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }

  section {
    padding: 1rem 1.5rem;
  }

  /*qProject Section*/
  .project-container {
    display: flex;
    flex-wrap: nowrap; /* card tetap di satu baris */
    overflow-x: auto; /* scroll horizontal aktif */
    gap: 1rem;
    padding: 0;
    scroll-behavior: smooth; /* smooth scroll */
    justify-content: flex-start; /* card mulai dari kiri */
  }

  .project-container::-webkit-scrollbar {
    display: none; /* sembunyikan scrollbar */
  }

  .project-container::after {
    content: "";
    flex: 0 0 1rem;
  }

  .project-details-container {
    flex: 0 0 auto;
    flex-shrink: 0; /* card tidak mengecil */
    width: 8rem; /* card kecil */
  }

  .project-img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
  }

  .btn-container {
    display: flex;
    flex-wrap: wrap; /* button turun jika sempit */
    justify-content: center;
    gap: 0.5rem;
  }

  .project-btn {
    width: 6rem; /* tombol kecil di HP */
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
  }
}
